<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button">
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse">
        <a class="navbar-brand mt-2 mt-lg-0" [routerLink]="['/']">
          <img width="40" alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        </a>
        <span>Market Place</span>
      </div>
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" *ngIf="isAdmin" [routerLink]="['/products']">
          <i class="fas fa-store"></i>
        </a>
        <a class="text-reset me-3"  [routerLink]="['/market-detail']">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger">{{cantMarket}}</span>
        </a>
        <div class="dropdown" (click)="logout()">
          <i class="fas fa-sign-out"></i>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>