<section class="h-100 h-custom">
    <div class="container py-1">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a [routerLink]="['/']" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have {{cantMarket}} items in your cart</p>
                    </div>
                  </div>
  
                  <div class="card mb-3" *ngFor="let pr of list">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              [src]="pr.imagen"
                              class="img-fluid rounded-3" [alt]="pr.titulo" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{pr.titulo}}</h5>
                            <p class="small mb-0">{{pr.descripcion}}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">{{pr.cantidadPedida}}</h5>
                          </div>
                          <div style="width: 80px;">
                            <h6 class="mb-0">{{pr.precio | currency}}</h6>
                          </div>
                          <div (click)="remove(pr)" style="color: #cecece;"><i class="fas fa-trash-alt"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-lg-5">
  
                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                          <h5 class="mb-0">Resume</h5>
                      </div>
  
                      <hr class="my-4">
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">{{total | currency}}</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping</p>
                        <p class="mb-2">$20.00</p>
                      </div>
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2">{{(total + 20) | currency}}</p>
                      </div>
  
                      <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>{{(total + 20) | currency}}</span>
                          <span>&nbsp; Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </div>
                      </button>
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>