<div class="row">
    <div class="col-sm-4 offset-8 text-right" style="text-align: right;">
        <button type="button" class="btn btn-primary btn-sm px-3">
            <i class="fas fa-add"></i>
          </button>
    </div>
</div>
<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productos$ | async">
        <th scope="row">{{p.id}}</th>
        <td>{{p.titulo}}</td>
        <td>{{p.descripcion}}</td>
        <td>{{p.precio | currency}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm px-3">
            <i class="fas fa-times"></i>
          </button>&nbsp;
          <button type="button" class="btn btn-success btn-sm px-3">
            <i class="fas fa-edit"></i>
          </button>
        </td>
        
      </tr>
    </tbody>
  </table>